* {
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-container {
  max-width: 1500px;
  background-color: #cf4728;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  -webkit-box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.41);
  justify-content: center;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 1248px) {
  .nav-items {
    display: none;
  }
}

.nav-item {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  font-family: "PT Sans Narrow", sans-serif;
  justify-content: space-around;
  margin: 3rem;
  flex-shrink: inherit;
  letter-spacing: 1px;
}
.nav-item > span {
  color: #faaf4c;
}

.mobile-header {
  display: none;
  margin-right: auto;

  left: 0;
  color: aliceblue;
}

@media only screen and (max-width: 1248px) {
  .mobile-header {
    display: flex;
  }
}

.home-container {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  justify-content: center;
}

.home-container > img {
  display: flex;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.footer-container {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -14px;
  width: 100%;
  color: white;
  text-align: center;
}
.footer-images {
  position: relative;
}
.footer-front {
  z-index: -98;
  margin-bottom: -400px;
}
.footer-front > img {
  display: flex;
}

@media only screen and (max-width: 368px) {
  .footer-front > img {
    object-fit: contain;

    margin-bottom: 10px;
  }
}

.footer-back {
  position: relative;
  z-index: -99;
}

.footer-back > img {
  display: flex;
}

@media only screen and (max-width: 368px) {
  .footer-back > img {
    object-fit: contain;

    margin-bottom: 10px;
  }
}

.footer-container {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -14px;
  width: 100%;
  color: white;
  text-align: center;
  -webkit-animation: myAnim 0.5s alternate;
  /*-webkit-animation-delay: 2s;*/
  animation: myAnim 0.5s alternate;
  /*animation-delay: 2s;*/
}

@-webkit-keyframes myAnim {
  100% {
    left: 0px;
    bottom: 0;
  }
}

@keyframes myAnim {
  100% {
    left: -1920px;
    bottom: 0;
  }
}

.product-details {
  display: flex;
  position: absolute;
  top: 40px;
  z-index: -100;
  left: 10%;
  right: 25%;
}
.product-details > img {
  width: 100%;
  min-width: 250px;
  max-width: 675px;
  height: auto;
  object-fit: contain;
}

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-title {
  position: absolute;
  left: 5%;
  top: 20%;
}

.story-book {
  position: absolute;
  top: 30%;
  max-width: 659px;
  min-width: 320px;
}
@media only screen and (max-width: 425px) {
  .story-book {
    min-width: 320px;
    max-width: 320px;
  }
}

.story-book > img {
  display: flex;
  object-fit: contain;
  max-width: 659px;
  min-width: 320px;
}

@media only screen and (max-width: 425px) {
  .story-book > img {
    min-width: 320px;
    max-width: 320px;
  }
}

.story-cloud {
}

@media only screen and (max-width: 425px) {
  .story-cloud {
    position: absolute;
    top: 25%;
    z-index: -98;
  }
}

.whats-good-container {
  display: flex;
  justify-content: center;
}

.whats-good-title {
  position: absolute;
  top: 10%;
  left: 25%;
}

.whats-good-cloud-container {
  display: flex;
  justify-content: space-evenly;

  z-index: -98;
}
@media only screen and (max-width: 425px) {
  .whats-good-cloud-container {
    position: absolute;
    top: -20%;
  }
}
@media only screen and (max-width: 425px) {
  .cloud-left {
    margin-top: 20%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 425px) {
  .cloud-right {
    position: absolute;
    margin-top: 15%;
    margin-right: 10%;
    z-index: -97;
  }
}

.balloon-container {
  display: flex;
  position: absolute;
  top: 20%;
}
@media only screen and (max-width: 425px) {
  .balloon-container {
    display: none;
  }
}
.sign-container {
  position: absolute;
  left: 25%;
  right: 25%;
  z-index: -99;
  bottom: 5%;
}
.sign-container > img {
}
@media only screen and (max-width: 425px) {
  .sign > img {
    max-height: 300px;
  }
}

.product-row {
  display: flex;
}
.mobile-product-row {
  position: absolute;
  bottom: 0%;
}
@media only screen and (min-width: 426px) {
  .mobile-product-row {
    display: none;
  }
}
@media only screen and (max-width: 426px) {
  .product-row {
    display: none;
  }
}
@media only screen and (max-width: 426px) {
  .product-image {
    display: none;
  }
}
@media only screen and (max-width: 426px) {
  .product-details-cloud {
    display: none;
  }
}

.card-container {
  position: "relative";
  height: "100vh";
  width: "100%";
  display: "flex";
  flex: 1;
  justify-content: "center";
  align-items: "middle";
}

.card-style {
  height: "200px";
  width: "200px";
  padding-top: "80px";
  text-align: "center";
  background: "#52C0F5";
  color: "#FFF";
  font-family: "sans-serif";
  font-size: "12px";
  text-transform: "uppercase";
  border-radius: "10px";
  box-sizing: "border-box";
}
.swiper-container {
  width: 425px;
}
.swiper-slide {
  width: 80%;
}
.swiper-slide > img {
  width: 100px;
}
